body {
  padding: 50px;
  background-color: grey;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
